<div id="main">
  <div id="bg-canvas"></div>

  <header class="header">

    <!-- Logo -->
    <h1 id="brand" 
        ui-sref="app.landing" 
    >
      Alexander <br/><span class="indent">Guski</span>
    </h1>

    <!-- social icons -->
    <div class="social-link-container">
      <a href="https://github.com/AGuski" target="_blank">
        <i class="fa fa-github fa-lg" aria-hidden="true"></i>
      </a>
      <a href="http://codepen.io/rocknrollinc/" target="_blank">
        <i class="fa fa-codepen fa-lg" aria-hidden="true"></i>
      </a>
      <a href="https://soundcloud.com/alexander-guski" target="_blank">
        <i class="fa fa-soundcloud fa-lg" aria-hidden="true"></i>
      </a>
    </div>

    <div style="width: 142px" ng-if="!mainCtrl.isXS()">
      <!-- nüscht -->
    </div>
    
  </header>

  <main>
    
    
    
    <!-- Main Content -->
   
    <div id="top-half">
    </div>
    <div id="menu-cube-center">
      <menu-cube></menu-cube>
    </div>
    <div id="bottom-half">
      <div ui-view="content" class="content-bottom"></div>
    </div>
    
  </main>

  <footer class="footer">

    <!--<a id="day-night-switch" ng-click="mainCtrl.switchLight()">
      <span style="color: #e4e7e8">light</span> | <span style="color: #2b2b2b">dark</span>
    </a>-->
    <div></div>

    <a id="imprint-link" 
       ui-sref="app.imprint"
       ng-hide="mainCtrl.state.includes('app.imprint')" 
    >imprint</a>

  </footer>
  <div ui-view="bottom-overlay"></div>

</div>
