@import url('https://fonts.googleapis.com/css?family=Abel|Fira+Mono|PT+Mono|Titillium+Web:200,300,400|Varela+Round');

/* variables */

$app-padding: 30px;
$font-size-text: 20px;
$hover-on-transition: color .3s ease-out;
$hover-off-transition: color 1s ease-out;

html, body {
  // background: #2b2b2b;
  color: #f0f0f0;
  // color: #807e7e;
  font-family: 'Abel', sans-serif;
  text-align: center;

  background: linear-gradient(336deg, #495364, #3e343a);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 42s ease infinite;
  -moz-animation: AnimationName 42s ease infinite;
  animation: AnimationName 42s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 72%}
      50%{background-position:100% 29%}
      100%{background-position:0% 72%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 72%}
      50%{background-position:100% 29%}
      100%{background-position:0% 72%}
  }
  @keyframes AnimationName { 
      0%{background-position:0% 72%}
      50%{background-position:100% 29%}
      100%{background-position:0% 72%}
  }
}

#wrap {
  overflow: hidden;
}

header, footer {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
}

header {
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: $app-padding $app-padding 0;

  #brand {
    font-family: 'Abel', sans-serif;
    font-weight: 300;
    letter-spacing: 0px;
    font-size: 32px;
    color: #6d6d6d;
    line-height: 0.94em;
    text-align: right;
    margin-top: 0;
    cursor: pointer;
  }
  span.indent {
    padding-left: 16px;
  }

  #brand:before {
    content: "[ ";
  }

  #brand:after {
    content: " ]";
  }

  #brand:before, #brand:after {
    color: #cccccc;
  }

  .social-link-container {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 100%;

    i {
      transition: $hover-off-transition;
    }

    i:hover {
      transition: $hover-on-transition;
      color: black;
    }
  }
}

footer {
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 $app-padding $app-padding;

  #imprint-link {
    color: #6d6d6d;
    text-decoration: none;
  }

  #day-night-switch {
    color: #6d6d6d;
    cursor: pointer;
    text-decoration: none;
  }
}

a {
  color: #cccccc;
}

a:hover, a:active {
  color: #ffffff;
}

#bg-canvas {
  width: 25vw;
  height: 25vh;
  position: absolute;

  transform: scale(4,4);
}

#main {
  display: block;
  align-items: center;
  justify-content: center;
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-grow: 1;
  justify-content: center;
}

#top-half, #bottom-half {
  width: 100%;
  flex-grow: 1;
}

// #bottom-half {
//   background-color: red;
// }

#menu-cube-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  width: 100%;
  height: 0;
  z-index: 1;
}

.content-bottom {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

#debug {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 500px;
  height: 100px;
}

#imprint-link {
  z-index: 21;
  cursor: pointer;
          transition: $hover-off-transition;
  -webkit-transition: $hover-off-transition;
     -moz-transition: $hover-off-transition;
       -o-transition: $hover-off-transition;
  opacity: 1;

  &.ng-hide {
    transition: .4s ease-in opacity;
    -webkit-transition: .4s ease-in opacity;
     -moz-transition: .4s ease-in opacity;
       -o-transition: .4s ease-in opacity;
    opacity: 0;
  }

  &:hover {
    transition: $hover-on-transition, .4s ease-in opacity;
    -webkit-transition: $hover-on-transition, .4s ease-in opacity;
     -moz-transition: $hover-on-transition, .4s ease-in opacity;
       -o-transition: $hover-on-transition, .4s ease-in opacity;
    color: #f0f0f0;
  }
}

[ui-view="bottom-overlay"] {
  z-index: 20;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  opacity: 1;
  width: 100vw;

  &.ng-enter, &.ng-leave {
            transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
         -o-transition: all .3s ease-out;
  }

  &.ng-enter {
    transform: translateY(200px);
    opacity: 0;
  }

  &.ng-leave {
    transform: translateY(0px);
    opacity: 1;
  }

  &.ng-enter-active {
    transform: translateY(0px);
    opacity: 1;
  }

  &.ng-leave-active {
    transform: translateY(200px);
    opacity: 0;
  }
}
