<div id="cube-canvas"
  ng-mouseenter="ctrl.onMouseEnter($event)"
  ng-mousedown="ctrl.onMouseDown($event)"
> 
  <div class="cube-menu-items">
    <a class="cube-menu-item" ui-sref-active="active" ui-sref="app.work"></a> <!-- work -->
    <a class="cube-menu-item" ui-sref-active="active" ui-sref="app.audio"></a> <!-- audio/music -->
    <a class="cube-menu-item" ui-sref-active="active" ui-sref="app.contact">contact</a>
    <a class="cube-menu-item" ui-sref-active="active" ui-sref="app.about">about</a>
  </div>
</div>