<div id="cube-canvas"
  ng-mouseenter="ctrl.onMouseEnter($event)"
  ng-mousedown="ctrl.onMouseDown($event)"
>
  <a class="cube-menu-item" >work</a>
  <a class="cube-menu-item" >music/audio</a>
  <a class="cube-menu-item" >contact</a>
  <a class="cube-menu-item" >about</a>
</div>

<!--<div id="cube-canvas" 
  onMouseEnter={this.onMouseEnter.bind(this)}
  onMouseDown={this.onMouseDown.bind(this)}
  onTouchStart={this.onTouchStart.bind(this)}
  >
    <a class="cube-menu-item" >work</a>
    <a class="cube-menu-item" >music/audio</a>
    <a class="cube-menu-item" >contact</a>
    <a class="cube-menu-item" >more stuff</a>
</div>-->